<div class="row">
  <div class="col-md-6 col-lg-4" *ngFor="let driverStanding of driverStadings">
    <div class="card driver">
      <div class="card-header driver__info">
        <div class="media">
          <img class="driver__photo" src="/assets/img/drivers/{{driverStanding.Driver.driverId}}.png" alt="{{ driverStanding.Driver | driverName }}">
          <div class="media-body">
            <h5 class="driver__name" (click)="goToDriver(driverStanding.Driver)">
              {{ driverStanding.Driver | driverName }}
            </h5>
          </div>
        </div>
      </div>
      <div class="card-body driver__stats">
        <ul class="list-unstyled">
          <li>Nationality:
            <img src="/assets/img/flags/{{driverStanding.Driver.nationality}}.png" alt="{{driverStanding.Driver.nationality}}" />
          </li>
          <li>Position: {{driverStanding.position}}</li>
          <li>Points: {{driverStanding.points}}</li>
          <li>Wins: {{driverStanding.wins}}</li>
        </ul>
      </div>
      <div class="card-footer driver__constructor">
        Constructor: {{ driverStanding.Constructors | constructorName }}
      </div>
    </div>
  </div>

</div>