<div class="row">
  <div class="col-md-6 col-lg-4">
    <div class="card driver">
      <div class="card-header driver__info">
        <div class="media">
          <img class="driver__photo" src="http://via.placeholder.com/65x65" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="driver__name">
              <a routerLink="/profile/1234">Fernando Alonso</a>
            </h5>
          </div>
        </div>
      </div>
      <div class="card-body driver__stats">
        <ul class="list-unstyled">
          <li>Nationality:
            <img src="http://via.placeholder.com/32x32" />
          </li>
          <li>Position: 2</li>
          <li>Points: 123</li>
          <li>Wins: 4</li>
        </ul>
      </div>
      <div class="card-footer driver__constructor">
        Constructor: Mercedes
        <img src="http://via.placeholder.com/32x32" alt="Card image cap">
      </div>
    </div>
  </div>


  <div class="col-md-6 col-lg-4">
    <div class="card driver">
      <div class="card-header driver__info">
        <div class="media">
          <img class="driver__photo" src="http://via.placeholder.com/65x65" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="driver__name">
              <a routerLink="/profile/1234">Fernando Alonso</a>
            </h5>
          </div>
        </div>
      </div>
      <div class="card-body driver__stats">
        <ul class="list-unstyled">
          <li>Nationality:
            <img src="http://via.placeholder.com/32x32" />
          </li>
          <li>Position: 2</li>
          <li>Points: 123</li>
          <li>Wins: 4</li>
        </ul>
      </div>
      <div class="card-footer driver__constructor">
        Constructor: Mercedes
        <img src="http://via.placeholder.com/32x32" alt="Card image cap">
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="card driver">
      <div class="card-header driver__info">
        <div class="media">
          <img class="driver__photo" src="http://via.placeholder.com/65x65" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="driver__name">
              <a routerLink="/profile/1234">Fernando Alonso</a>
            </h5>
          </div>
        </div>
      </div>
      <div class="card-body driver__stats">
        <ul class="list-unstyled">
          <li>Nationality:
            <img src="http://via.placeholder.com/32x32" />
          </li>
          <li>Position: 2</li>
          <li>Points: 123</li>
          <li>Wins: 4</li>
        </ul>
      </div>
      <div class="card-footer driver__constructor">
        Constructor: Mercedes
        <img src="http://via.placeholder.com/32x32" alt="Card image cap">
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="card driver">
      <div class="card-header driver__info">
        <div class="media">
          <img class="driver__photo" src="http://via.placeholder.com/65x65" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="driver__name">
              <a routerLink="/profile/1234">Fernando Alonso</a>
            </h5>
          </div>
        </div>
      </div>
      <div class="card-body driver__stats">
        <ul class="list-unstyled">
          <li>Nationality:
            <img src="http://via.placeholder.com/32x32" />
          </li>
          <li>Position: 2</li>
          <li>Points: 123</li>
          <li>Wins: 4</li>
        </ul>
      </div>
      <div class="card-footer driver__constructor">
        Constructor: Mercedes
        <img src="http://via.placeholder.com/32x32" alt="Card image cap">
      </div>
    </div>
  </div>

</div>