@import '~sass/variables';
.driver {
    margin-bottom: 30px;
    &__info {
        border-bottom: 1px solid $delimiterColor;
    }
    &__photo {
        border-radius: 50%;
        margin-right: 20px;
    }
    &__name {
        line-height: 65px;
        margin-bottom: 0;
        color: $linkColor;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    &__constructor {
        background-color: $cardBackground;
        display: flex;
        justify-content: space-between;
        line-height: 32px;
    }
}