<div class="row">

  <div class="col-md-6 col-lg-4" *ngFor="let circuit of circuits">
    <div class="card item">
      <img class="card-img-top" src="/assets/img/circuits/{{circuit.circuitId}}.png" alt="{{circuit.name}}" class="item__photo">
      <div class="card-body">
        <div class="row">
          <div class="col-10">
            <h5 class="card-title item__title">
              Name: {{ circuit.circuitName }}
            </h5>
          </div>
          <div class="col-2 text-right">
            <a href="{{circuit.url}}" target="_blank">
              <img src="/assets/img/external-link.png" alt="{{ circuit.name }}" class="item__link--external">
            </a>
          </div>
        </div>
        <p class="card-text item__description">Locality: {{ circuit | circuitLocality }}</p>
      </div>
    </div>
  </div>


</div>