@import '~sass/variables';
.last-viewed {
    &__driver {
        margin-bottom: 10px;
        .driver {
            &__photo {
                width: 45px;
                border-radius: 50%;
                margin-right: 10px;
            }
            &__name {
                line-height: 45px;
                font-size: 1.1rem;
                color: $linkColor;
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}