.item {
    margin-bottom: 30px;
    line-height: 32px;
    &__title {
        margin-bottom: 0;
        font-size: 1.1rem;
        display: flex;
        justify-content: space-between;
        @media screen and (min-width: 992px) and (max-width: 1200px) {
            white-space:nowrap;
        }
    }
    &__description {
        font-size: 1.1rem;
    }
    &__photo {
        height: 260px;
        @media screen and (min-width: 768px) {
            height: 190px;
        }
    }
    &__link {
        &--external {
            width: 25px;
        }
    }
}