<div class="row">

  <div class="col-md-6 col-lg-4" *ngFor="let constructor of constructors">
    <div class="card item">
      <img class="card-img-top" src="/assets/img/constructors/{{constructor.constructorId}}.png" alt="{{constructor.name}}" class="item__photo">
      <div class="card-body">
        <h5 class="card-title item__title">
          Constructor: {{ constructor.name }}
          <a href="{{constructor.url}}" target="_blank">
            <img src="/assets/img/external-link.png" alt="{{ constructor.name }}" class="item__link--external">
          </a>
        </h5>
        <p class="card-text item__description">Nationality: {{ constructor.nationality }}</p>
      </div>
    </div>
  </div>


</div>