@import '../drivers/drivers.component.scss';
.profile {
    margin-bottom: 20px;
    .driver__stats {
        columns: 1;
        @media screen and (min-width: 768px) {
            columns: 2;
        }
    }
}

.last-viewed {
    &__driver {
        margin-bottom: 10px;
        .driver {
            &__photo {
                width: 45px;
            }
            &__name {
                line-height: 45px;
                font-size: 1.1rem;
            }
        }
    }
}

.item {
    margin-bottom: 30px;
    line-height: 32px;
    &__title {
        margin-bottom: 0;
        font-size: 1.1rem;
        display: flex;
        justify-content: space-between;
    }
    &__description {
        font-size: 1.1rem;
    }
}