<div class="row" *ngIf="driver">

  <div class="col-md-8 col-lg-9">
    <div class="card profile">
      <div class="card-header driver__info">
        <div class="media">
          <img class="driver__photo" src="/assets/img/drivers/{{driver.driverId}}.png" alt="{{ driver | driverName }}">
          <div class="media-body">
            <h5 class="driver__name">{{ driver | driverName }}</h5>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-unstyled driver__stats">
          <li>Nationality: {{ driver.nationality }}</li>
          <li>Date of birth: {{ driver.dateOfBirth }}</li>
          <li>Starting number: {{ driver.permanentNumber }}</li>
          <li>Biography:
            <a href="{{driver.url}}">{{driver.url}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-lg-3">
    <app-last-viewed [drivers]="latestViewed"></app-last-viewed>
  </div>

</div>