@import '../drivers/drivers.component.scss';
.profile {
    margin-bottom: 20px;
    .driver {
        &__stats {
            columns: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @media screen and (min-width: 768px) {
                columns: 2;
            }
        }
        &__name {
            &:hover {
                cursor: initial;
                text-decoration: none;
            }
        }
    }
}

.item {
    margin-bottom: 30px;
    line-height: 32px;
    &__title {
        margin-bottom: 0;
        font-size: 1.1rem;
        display: flex;
        justify-content: space-between;
    }
    &__description {
        font-size: 1.1rem;
    }
}